<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
 	<listener class-name="searchSort.searchSortAZ.Listeners"></listener>
 </listeners>
  <test thread-count="1" name="Test">
   <parameter name="ResourcesPath" value="/home/varsha/Ahilawork/ProjectWorkspace/AZSearchSort/src/main/java/resources"> </parameter>
     <classes>
      <class name="searchSort.searchSortAZ.SearchSort"/> 
      <class name="searchSort.searchSortAZ.CheckDeliveryDate"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
